<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tx_error.description %>
</p>

<%= link_to 'Edit', edit_tx_error_path(@tx_error) %> |
<%= link_to 'Back', tx_errors_path %>
