<div class="container w-80">
  <div class="card shadow mb-4">
    <div class="card-header mt-2">
      <%= image_tag "sena.png", class: "header-logo", style:"height: 45px;" %>
    </div>
    <hr>
    <div class="card-body">
      <h4 class="text-danger">Anda tidak dapat memproses kembali, karna sudah terproses sebelumnya!</h4>
    </div>
  </div>
</div>