<div class="container w-80">
  <div class="card shadow mb-4">
    <div class="card-header mt-2">
      <h4>Status Tiket</h4>
    </div>
    <hr>
    <div class="card-body">
      <h1>Tiket berhasil di Reject</h1>
    </div>
  </div>
</div>