<div class="container w-80">
  <div class="card shadow mb-4">
    <div class="card-header mt-2">
      <h4>Reject Tiket</h4>
    </div>
    <hr>
    <div class="card-body">
      <form>
        <div class="row">
          <input type="hidden" id="id" value="<%= @ticket_id %>">
          <input type="hidden" id="username" value="<%= @username %>">
          <input type="hidden" id="token" value="<%= @token %>">
          <div class="col-md-12">
            <div class="form-group">
              <label>Deskripsi</label>
              <textarea class="deskripsi-reject" maxlength="100"></textarea>
              <div class="count-character-reject"></div>
              <div class="notice-reject"></div>
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-info" id="kirimReject">Simpan</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).on('keyup', '.deskripsi-reject', function(){
    var value = $(this).val();
    console.log(value);
    $(".count-character-reject").text("Characters left: " + (100 - value.length));
    $('.notice-reject').empty();
  });

  $(document).on('click', '#kirimReject', function(e){
    e.preventDefault();
    var id = $('#id').val();
    var username = $('#username').val();
    var token = $('#token').val();
    var deskripsi = $('.deskripsi-reject').val();
    $('#kirimReject').text('Loading...');
    $.ajax({
      url: "/approval_email/send-reject",
      method: 'POST',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id,
        username:username,
        token:token,
        deskripsi:deskripsi
      },
      success: function(data){
        if (data['status'] == 200) {
          window.location.href = "/approval_email/rejected";
        }else if (data['status'] == 204) {
          $('#kirimReject').text('Submit');
          $('.notice-reject').html(`<span class="text-danger">${data['msg']}</span>`);
        }
      }
    });
  });
</script>